<!DOCTYPE html>
<html>
    <head>
        <title>LinkedOut</title>
    </head>
<div class="row">
    <h1 style="text-align: center">Sign Up</h1>
        <form action="/register" method="post">
            <div class="form-group">
                <input class="form-control" type="text" name="firstname" placeholder="Firstname">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="lastname" placeholder="Lastname">
            </div>
            <label for="password">Password</label>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="Password">
                </div>
                <label for="confirmPassword">Confirm Password</label>
                <div class="form-group">
                    <input class="form-control" type="password" name="Confirmpassword" placeholder="Confirm password">
                </div>
            
            <div class="form-group">
                <input class="form-control" type="text" name="username" placeholder="Email">
            </div>
            <div class="form-group">
                <input class="form-control" type="tel" name="tel" placeholder="123-4567890">
            </div>
            <div class="form-group">
                <input class="form-control" type="file" name="file" placeholder="">
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Register!</button>
            </div>
        </form>
        <a href="/welcomePage">Go Back</a>
    </div>
</div>

</html>